/* components/ProductCard.module.css */

.container {
    max-width: 300px;
    border: 1px solid black;
    text-align: center;
    border-radius: 3px;
    padding: 10px;
}

.container * {
    padding: 5px;
}
