/* styles/Home.module.css */

.main {
  padding: 0 2rem;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
  margin: 10px;
}
